@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Space Grotesk', system-ui, sans-serif;
  color: #f8fafc;
  background-color: #0b0f14;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background:
    radial-gradient(circle at 15% 15%, rgba(3, 66, 240, 0.253), transparent 15%),
    radial-gradient(circle at 85% 30%, rgba(0, 181, 236, 0.384), transparent 20%),
    radial-gradient(circle at 30% 85%, rgba(0, 163, 109, 0.322), transparent 30%),
    #0b0f14;
}
